.header {
  /* display: flex;
  position: fixed;
  justify-content: space-between;
  padding: 20px 0;
  /* max-width: calc(100% - 48px*2); */
  /*


  margin: 0 auto; */
  min-width: 1180px;
  margin: 0 auto;
  padding: 0;
  z-index: 2;
  position: fixed;
  background-color: white;
  width: 100vw;
  display: flex;
  /* justify-content: flex-start; */
}

.header__line {
    content: '';
    height: 12px;
    width: 100%;
    float: left;
    background-image: url(../../images/header-gradient.png);
    background-repeat: repeat-x;
}
